:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.wrapper {
    width: 800px;
    margin: auto;
}

#playButtons {
    display: none;
    margin-bottom: 3rem;
}


/* Styling play buttons */
.playButton {
    width: 150px;
    height: 33px;
    border: 2px solid gray;
    border-radius: 50px;
}

.playButton__rock {
    background-color: red;
}

.playButton__sissor {
    background-color: blue;
}

.playButton__paper {
    background-color: green;
}

/* This id is to be enabled when one player has won the game
#newGame {
    display: none;
}
*/

