:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.wrapper {
    width: 800px;
    margin: auto;
}

#playButtons {
    opacity: 20%; /* When player name has not been entered yet */
}

/* Styling play buttons */
.playButton {
    width: 150px;
    height: 33px;
    border: 2px solid gray;
    border-radius: 50px;
}

.playButton__rock {
    background-color: darkgrey;
}

.playButton__paper {
    background-color: white;
}

.playButton__sissor {
    background-color: steelblue;
}