:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

/* Styling play buttons */
.playButton {
    width: 100px;
    height: 33px;
    border: 2px solid gray;
    border-radius: 25px;
}

.playButton__rock {
    background-color: darkgrey;
}

.playButton__paper {
    background-color: white;
}

.playButton__sissor {
    background-color: steelblue;
}