:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.wrapper {
    width: 800px;
    margin: auto;
}

.input-human-player-form-hide{
    display: none;
}

.score-board {
    width: 400px;
    display: none;
}

.score-board-visibility-none {
    display: none;
}

#play-buttons {
    display: none;
    margin-bottom: 3rem;
}
