:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.wrapper {
    width: 800px;
    margin: auto;
}

.input-form-human-player-name-hide {
    display: none;
}

.score-board {
    width: 400px;
}

.score-board-visibility-hide {
    display: none;
}

.play-buttons {
    
}
